extends ../shared/layout.pug

block content
  h2= title

  ol.list-type1
    for obj, index in scrapedTitles
      li
        a(href=obj.url)=obj.url+" : "+obj.title
    else
      p Sorry, no address parameter(s) were provided in the url!